.navbar {
   background-color:$gray; 
}

.navbar-brand {
    a {
        &.site-title {
            font-size:2rem;
            font-weight:600;
            line-height:1.3em;
            display:inline-block;
            padding-top:.5rem;
        }
    }
} 