p {
    margin-bottom:.75rem;
    @include media-breakpoint-up(lg){
        margin-bottom:1rem;
    }
}

.navbar {
   background-color:$gray; 
   border-bottom:dotted 3px #ccc;
}

.navbar-brand {
    white-space:normal !important;
    .site-logo {
        width:20%;
        @include media-breakpoint-up(lg){
            width:auto;
        }
    }
    .wrap-site-title {
        width:60%;
        @include media-breakpoint-up(lg){
            width:auto;
        }
    }
    a {
        &.site-title {
            font-size:1.3rem;
            font-weight:600;
            line-height:1.3em;
            display:inline-block;
            padding-top:.5rem;
            @include media-breakpoint-up(md){
                font-size:1.7rem;
            }
            @include media-breakpoint-up(lg){
                font-size:2.5rem;
            }
            @include media-breakpoint-up(xl){
                font-size:3rem;
            }
        }
    }
    img {
        height:70px;
    }
} 

.navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    content:"";
}

.region-nav-main {
    margin:0 auto;
}

.navbar-expand-lg {
    @include media-breakpoint-down(md){
        padding:0 !important;
    }
    .navbar-toggler {
        position:absolute;
        top:-55px;
        right:15px;
        border: 1px solid #ccc;
    }
    .navbar-nav {
        .nav-link {
            padding-right:1.5rem;
            padding-left:1.5rem;
            font-size:1.5rem;
            font-weight:600;
            color:#999;
            &:hover, &:active, &.active {
                color:#000;
            }                    
        }
        .dropdown-toggle {
            &::after {
                vertical-align:.1em;
            }
        } 
        .dropdown-menu {
            @include media-breakpoint-up(md){
                min-width:22rem;
                .nav-link {
                    font-size:1.3rem;
                    line-height:1.2em;
                }
            }
        }
    }
}

.m-bottom {
    margin-bottom:2rem;
    @include media-breakpoint-up(md){
        margin-bottom:3rem;
    }
    @include media-breakpoint-up(lg){
        margin-bottom:4rem;
    }
}

.region-content {
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    @include media-breakpoint-up(md){
        padding-top:2.2rem;
        padding-bottom:2.2rem;
    }
    @include media-breakpoint-up(lg){
        padding-top:3rem;
        padding-bottom:3rem;
    }
}

.narrow-container.container {
    max-width:1200px;
}

/* Information Card */
.paragraph--type--information-card {
    background-color:rgba(255, 210, 73,.3);
    max-width:1000px;
    margin:3rem auto 0;
    padding:2rem .75rem .75rem;
    width:100%;
    min-height:100px;
    position:relative;
    border:2px solid #ccc;
    @include media-breakpoint-up(md){
        margin:4rem auto 0;
        padding:2.7rem 1.5rem 1.5rem;
    }
    @include media-breakpoint-up(lg){
        margin:5rem auto 0;
        padding:3rem 2rem 2rem;
    }
    p {
        font-size:1.2rem;
        line-height:1.5em;
        @include media-breakpoint-up(md){
            font-size:1.75rem;
        }
        @include media-breakpoint-up(lg){
            font-size:2rem;
        }
    }
    &::before {
        display:block;
        content:"";
        position:absolute;
        background-image:url(../img/info-header.svg);
        background-size:contain;
        background-repeat:no-repeat;
        top:-58px;
        left:50%;
        margin-left:-110px;
        width:220px;
        height:110px;
        @include media-breakpoint-up(md){
            top:-67px;
            margin-left:-130px;
            width:260px;
            height:110px;
        }
        @include media-breakpoint-up(lg){
            top:-80px;
            margin-left:-150px;
            width:300px;
            height:110px;
        }
    }
}

.calendar-day-add {
    .fc-time {
        display:none;
    }
}
.fc-event-container {
    .fc-content {
        white-space:normal !important;
    }
    .fc-title {
        font-family:$font-family-monospace;
        font-size:.85rem;
        letter-spacing:-1px;
    }
}
.fc-day-grid-event {
    margin:4px 2px 0;

}
.fc-scroller, .fc-widget-content {
    height:auto !important;
}

.page-node-type-main-page {
    .block-views-blockmain-slider-block-1, .block-field-blocknodemain-pagebody {
        max-width:1200px;
        margin:0 auto;
        position:relative;
    }
    .block-field-blocknodemain-pagebody {
        p {
            font-size:1.5rem;
        }
    }
}

.block-views-blockmain-slider-block-1 {
    > .views-element-container {
        > .view-main-slider {
            > .view-content {
                padding:3px;
                background:rgba(255, 210, 73, .3);
                img {
                    height:auto;
                }
            }
        }          
    }
    .attachment {
        .views-row {
            cursor:pointer;
            @include media-breakpoint-up(md){
                background-image:url(../img/bg_bumaga_sm_l.png);
                background-size:cover;
                background-repeat:no-repeat;
                background-position:bottom;
                padding:1rem 2rem 5rem 2rem;
                margin-bottom:2rem;
                transition:padding 0.3s ease, margin 0.3s ease;
            }
            .views-field-body {
                font-size:1rem;     
                font-family:Arial, Helvetica, sans-serif;
                @include media-breakpoint-up(md){
                    font-style:italic;
                }
            }
            .views-field-view-node {
                font-size:1.5rem;
                a {
                    display:inline-block;
                    padding:.5rem 1rem;
                    background-color:rgba(255, 210, 73,1);
                    font-family:Arial, Helvetica, sans-serif;
                    color:#000;
                    &:hover, &:focus {
                        text-decoration:none;               
                        background-color:rgba(204, 164, 44, 1);
                    }
                }
            }
        }
       
        .owl-item.active {
            .views-row {
                @include media-breakpoint-down(md){
                    background-color:rgba(255, 210, 73,.3);
                }
                @include media-breakpoint-up(md){
                    padding:3rem 2rem 5rem 2rem;
                    margin-bottom:0;
                    transition:padding 0.3s ease, margin 0.3s ease;
                }
            }
        }

        .owl-stage {
            @include media-breakpoint-down(sm){
                display: flex;
                flex-direction: column;
                width:100% !important;
                .owl-item {
                    width:100% !important;
                }
            }
        }




    }
}

.main-slider-uzor,
.page-node-type-main-page .block-views-blockmain-slider-block-1 .owl-controls::after, 
.page-node-type-main-page .block-views-blockmain-slider-block-1 .owl-controls::before {
    width:60px;
    height:60px;
    position:absolute;
    background-image:url(../img/uzor-sq-y.svg);
    background-size:contain;
    background-repeat:no-repeat;
    z-index:1;
    @include media-breakpoint-up(md){
        width:100px;
        height:100px;
    }
    @include media-breakpoint-up(lg){
        width:120px;
        height:120px;
    }
}

.page-node-type-main-page {
    .block-views-blockmain-slider-block-1 {
        .views-field-field-slider-image {
            background:rgba(255, 210, 73,.3);
            flex-grow:1;
            a {
                text-decoration:none;
            }
        }
        .slide-body {   
            border-top:3px solid #000;
            min-height:116px;
            padding:1.2rem 8rem .5rem;
            h2, p {
                color:#000;
            }
            h2 {
                font-size:2rem;
            }
            p {
                font-size:1.1rem;
                font-family:Arial, Helvetica, sans-serif;
            }
        }

      /*  .owl-carousel {
            .owl-wrapper {
                display:flex !important;
            }
            .owl-item {
                display:flex;
                > div {              
                    display:flex;
                    flex-direction:column;
                }
            }
        }*/
        
      //  .owl-controls {
         /*   &::after, &::before {
                content:"";
                display:block;
            }
            &::after {
                left:-50px;
                bottom:-39px;
                transform:rotate(50deg);
            }
            &::before {
                right:-44px;
                bottom:-44px;
                transform:rotate(-45deg);
            }
            .owl-pagination {
                position:absolute;
                width:100%;
                span {
                    background:#ffd249;
                    color:#000;
                    font-size:1.5rem;
                }
            }*/
            
        //}
    }
}
.owl-carousel {
    .owl-nav {
        position:absolute;
        width:100%;
        top:50%;
        button {
            background:#ffd249 !important;
            color:#000 !important;
            border-radius:10px;
            min-width:40px;
            text-transform:uppercase;  
            &.disabled {
                display:none !important;
            } 
            &.owl-prev {
                position:absolute;
                left:-15px;
                font-size:1rem;
                top:-32px;  
                padding:.25rem 1rem !important; 
                @include media-breakpoint-up(md){
                    left:-42px;
                }
            }
            &.owl-next {
                position:absolute;
                right:-15px;
                font-size:1rem;
                top:-32px;
                padding:.25rem 1rem !important;
                @include media-breakpoint-up(md){
                    right:-42px;
                }
            }
        }
    }
}

.left-top-uzor {
    left:-23px;
    top:-25px;
    transform:rotate(136deg);
    @include media-breakpoint-up(md){
        left:-35px;
        top:-37px;
    }
    @include media-breakpoint-up(lg){
        left:-45px;
        top:-49px;
    }
}
.right-top-uzor {
    right:-25px;
    top:-24px;
    transform:rotate(-134deg);
    @include media-breakpoint-up(md){
        right:-37px;
        top:-36px;
    }
    @include media-breakpoint-up(lg){
        right:-49px;
        top:-44px;
    }
}

.path-user {
    .user-login-form {
        max-width:400px;
        margin:0 auto;
    }
}

.tabs {
    margin-bottom:2rem;
}
.field--name-field-main-image {
    max-width:800px;
    margin:1.8rem auto;
    position:relative;
    @include media-breakpoint-up(md){
        margin:2.4rem auto;
    }
    @include media-breakpoint-up(lg){
        margin:3rem auto;
    }
    img {
        width:100%;
        height:auto;
    }
}

.ramka {
    position:absolute;
    background-color:transparent;
    &.ramka-top {        
        top:-24px;
        left:0;
        width:100%;
        height:25px;
        background-image:url(../img/ramka-top.svg);
        background-repeat:repeat-x;
        background-size:25px;
        @include media-breakpoint-up(md){
            top:-34px;
            height:35px;
            background-size:35px;
        }
        @include media-breakpoint-up(lg){
            top:-37px;
            height:38px;
            background-size:38px;
        }
    }
    &.ramka-bottom {        
        bottom:-24px;
        left:0;
        width:100%;
        height:25px;
        background-image:url(../img/ramka-bottom.svg);
        background-repeat:repeat-x;
        background-size:25px;
        @include media-breakpoint-up(md){
            bottom:-34px;
            height:35px;
            background-size:35px;
        }
        @include media-breakpoint-up(lg){
            bottom:-37px;
            height:38px;
            background-size:38px;
        }
    }
    &.ramka-left {
        top:-22px;
        left:-24px;
        width:25px;
        height:calc(100% + 45px);
        background-image:url(../img/ramka-left.svg);
        background-repeat:repeat-y;
        background-size:25px;
        border-radius:35px 0 0 35px;
        @include media-breakpoint-up(md){
            top:-32px;
            left:-34px;
            width:35px;
            height:calc(100% + 65px);
            background-size:35px;
        }
        @include media-breakpoint-up(lg){
            top:-34px;
            left:-37px;
            width:38px;
            height:calc(100% + 70px);
            background-size:38px;
        }
    }
    &.ramka-right {        
        top:-22px;
        right:-24px;
        width:25px;
        height:calc(100% + 45px);
        background-image:url(../img/ramka-right.svg);
        background-repeat:repeat-y;
        background-size:25px;
        border-radius:0 35px 35px 0;
        @include media-breakpoint-up(md){
            top:-32px;
            right:-34px;
            width:35px;
            height:calc(100% + 65px);
            background-size:35px;
        }
        @include media-breakpoint-up(lg){
            top:-34px;
            right:-37px;
            width:38px;
            height:calc(100% + 70px);
            background-size:38px;
        }
    }
}
.field--name-field-gallery {
    margin:2rem 0 5rem;
    .field__item {
        display:none;
        &.field-item-1 {
            display:block;
        }
    } 
}
.wrap-slide-title {
    background:rgba(255, 255, 255, .75);
    padding:.5rem;
    @include media-breakpoint-up(md){
        padding:1rem;
    }
    @include media-breakpoint-up(lg){
        padding:1.5rem;
    }
    h2 {
        color:#000;
        margin-bottom:0;
        font-size:1rem;
        @include media-breakpoint-up(md){
            font-size:1.5rem;
        }
        @include media-breakpoint-up(lg){
            font-size:2rem;
        }
    }
}
.node--type-article.node--view-mode-full {
    max-width:1280px;
    margin:0 auto;
    .field--name-body {
        font-size:1.5rem;
        font-family:Arial, Helvetica, sans-serif;
    }
}
.field--name-field-main-text {
    padding:1rem 0;
    @include media-breakpoint-up(md){
        padding:1.5rem 0;
    }
    @include media-breakpoint-up(lg){
        padding:2rem 0;
    }
    h2 {
        font-size:1.5rem;
        @include media-breakpoint-up(md){
            font-size:2.2rem;
        }
        @include media-breakpoint-up(lg){
            font-size:2.5rem;
        }
    }
    p {
        font-size:1.3rem;
        @include media-breakpoint-up(md){
            font-size:1.8rem;
        }
        @include media-breakpoint-up(lg){
            font-size:2rem;
        }
    }
}

footer {
    background-color:#ccc;
    border-top:dotted 3px #444;
}

#shedule-table {
    font-size:1.5rem;
    line-height:1.2em;
    p {
        margin-bottom:.5rem;
    }
}

.region-footer {
    max-width:1280px;
    margin:0 auto;
}

.footer-menu {
    .navbar-nav {
        flex-direction:row;
    }
}